
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    overflow-x: hidden;
}

.container-main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container-main-i{
    display: grid;
    border-radius: 25px;
    grid-template-columns: 50% 50%;
    height: 593px;
    width: 853px;
    background-color: hsl(0, 0%, 100%);
}

.container-left{
    padding: 50px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center; 
}

.container-right{
    display: flex;
    justify-content: end;
    background: no-repeat url(./assets/images/illustration-sign-up-desktop.svg);
    background-position: right;
    margin: 20px;
    border-radius: 10px;
}

.container-main-ii{
    padding: 60px;
    display: none;
    flex-direction: column;
    border-radius: 25px;
    grid-template-columns: 50% 50%;
    height: 493px;
    width: 480px;
    background-color: hsl(0, 0%, 100%);
}

h1{
    font-size: 45px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    padding-bottom: 20px;
}

h6{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}

ul{
    padding-bottom: 20px;
}

li{
    display: flex;
    align-items: center;
    list-style-type:none;
    line-height: 15px;
    left: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

svg{
    margin-right: 10px;
}

input[type=text]{
    margin-top: 20px;
    border-radius: 10px ;
    border: 1px solid hsl(0, 0%, 61%);
    padding: 20px;
    margin-bottom: 20px;
}

input[type=text]:focus{
    border: 1px solid hsl(234, 29%, 20%);
}

.btn-submit{
    border-radius: 10px;
    padding: 20px;
    background-color: hsl(234, 29%, 20%);
    color: white;
}

.btn-submit:hover{
    cursor: pointer;
    box-shadow: hsl(4, 100%, 67%) 0px 5px 30px;
    background: linear-gradient(90deg, rgba(255,102,102,1) 0%, rgba(240,164,52,1) 100%);
    transition: all 300ms ease-in-out;
}

.bottom-details{
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.placeholder-color::placeholder{
    color: rgb(241, 69, 69);
    font-weight: 700;
}

.verification{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 375px) {

    .container-main-i{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: dense;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }

    .container-left{
        padding: 20px;
        order: 2;
    }
    
    .container-right{
        justify-content: start;
        background-position: right;
        margin: 0px;
        border-radius: 0;
        border-bottom-right-radius: 25px;    
        border-bottom-left-radius: 25px;
    }

    .container-main-ii{
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
        padding: 20px;
    }

    .container-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .bottom-details{
        display: none;
    }
}
